/* Page Title/Navbar */
.title-bar {
    height: 50px;
    position: fixed;
    box-sizing: border-box;
}

.page-title {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 900;
    font-size: 2em;
    display: inline-block;
    /* float: left; */
}

.page-title a {
    color: black;
    text-decoration: none;
}

.close {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar {
    float: right;
    position: relative;
    bottom: 0px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 50px;
    vertical-align: text-bottom;
}

.navbar li {
    display: inline;
    font-family: 'Noto Sans Mono', monospace;
  }

.navbar li a {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.navbar li a:hover {
    color: hotpink;
    text-decoration: underline;
}

div {
    width: 100%;
    height: 100%;
}

.rules {
    font-family:  'Noto Sans Mono', monospace;
}